/* Centrering af knapper */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Body-stil */
body {
    font-family: Arial, sans-serif;
    background-color: #333;
    margin: 0;
    padding: 20px;
}

/* Titel-stil */
h1 {
    text-align: center;
    color: #fff;
}

/* Container for søgefelterne */
.search-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

/* Style for grupper af input */
.form-group {
    margin-right: 40px;
    margin-bottom: 20px;
}

.form-group:last-child {
    margin-right: 0;
}

/* Stil for underoverskrifter */
h2 {
    font-size: 18px;
    color: #fff;
}

/* Wrapper til select-felterne */
.select-wrapper {
    margin-top: 10px;
    position: relative;
}

/* Generelle input- og select-stile */
select, input[type="text"] {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #444;
    color: #fff;
    font-size: 16px;
    transition: border-color 0.3s, background-color 0.3s, transform 0.3s;
}

/* Hover-effekt og action-animering på input-felter */
select:hover, input[type="text"]:hover {
    border-color: #5cb85c;
    background-color: #555;
    /*transform: scale(1.05); Lidt forstørrelse ved hover */
}

/* Focus-effekt på input og select felter */
select:focus, input[type="text"]:focus {
    border-color: #5cb85c;
    outline: none;
    box-shadow: 0 0 10px rgba(92, 184, 92, 0.5);
}

/* Stil til knapper */
button {
    background-color: #007BFF;
    width: 160px;
    padding: 12px;
    font-size: 17px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.6s, transform 0.3s, color 0.3s;
}

/* Hover-effekt og transition for knapper */
button:hover {
    background-color: #0056b3;
    color: #ddd;

}

/* Aktiv-effekt for knapper */
button:active {
    background-color: #00408a;

}

/* Custom stil for select-felter med pil */
.select-wrapper::after {

    position: absolute;
    right: 10px;
    top: 12px;
    pointer-events: none;
    color: #999;
}

/* Fokus-effekt på input og select ved indtastning */
input[type="text"]::placeholder, select {
    transition: color 0.3s;
}

input[type="text"]:focus::placeholder {
    color: transparent;
}

/* Standard stil til input og tekst */
input[type="text"] {
    transition: border-color 0.3s;
}
