.button-container {
    display: flex; /* Brug Flexbox for at centrere knappen */
    justify-content: center; /* Centrér knappen horisontalt */
    margin-top: 20px; /* Margin for at adskille knappen fra inputfelterne */
}

body {
    font-family: Arial, sans-serif;
    background-color: #333; /* Mørkegrå baggrund */
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #fff; /* Hvid tekst for bedre synlighed */
}

.search-container {
    display: flex; /* Brug Flexbox */
    flex-wrap: wrap; /* Tillad wrapping */
    justify-content: center; /* Centrér indholdet */
    align-items: flex-start; /* Juster indholdet til toppen */
}

.form-group {
    margin-right: 40px; /* Fast plads mellem inputfelter */
    margin-bottom: 20px;
}

.form-group:last-child {
    margin-right: 0; /* Ingen margin til højre på det sidste element */
}

h2 {
    font-size: 18px;
    color: #fff; /* Hvid tekst for bedre synlighed */
}

.select-wrapper {
    margin-top: 10px;
}

select, input[type="text"] {
    width: 200px; /* Fast bredde på 200px */
    padding: 10px; /* Samme padding for alle inputfelter */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Tag højde for padding og border i bredde */
    background-color: #444; /* Grå farve som tidligere baggrund */
    color: #fff; /* Hvid tekst i inputfelter */
    font-size: 16px; /* Samme font-størrelse som knappen */
}

button {
    background-color: #007BFF;
    width: 150px; /* Fast bredde på knap */
    padding: 12px; /* Indvendig polstring */
    font-size: 17px; /* Skriftstørrelse */
    color: white;
    border: none;
    border-radius: 10px 10px 10px 10px;
    height: 100%; /* Sørg for at knappen har samme højde som inputfelter */
    cursor: pointer; /* Ændrer cursor til hånd, når man holder musen over knappen */
    transition: background-color 0.6s, color 0.6s;
}

button:hover {
    background-color: #0056b3;

}

select:focus, input[type="text"]:focus {
    border-color: #5cb85c;
    outline: none;
}

.select-wrapper {
    position: relative;
}

.select-wrapper::after {
    position: absolute;
    right: 10px;
    top: 10px;
    pointer-events: none;
    color: #999;
}

/* Tilføjet stilarter for knapper og inputs */
input[type="text"] {
    transition: border-color 0.3s;
}
